site_name: Garf
site_url: https://github.com/google/garf
repo_name: garf
repo_url: https://github.com/google/garf
copyright: Copyright Google 2026

theme:
  name: material
  font:
    text: Google Sans
    code: Roboto Mono
  palette:
    - scheme: default
      primary: white
      accent: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: white
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.footer
    - navigation.tracking
    - navigation.top
    - navigation.path
    - content.code.annotate
    - content.code.select
    - content.code.copy
    - content.tabs.link
markdown_extensions:
  - md_in_html
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.blocks.tab:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Tutorial: get-started/index.md
  - Usage:
    - Core:
      - usage/core.md
      - Queries: usage/queries.md
      - API Clients: usage/api-client.md
      - Fetchers: usage/fetcher.md
      - Parsers: usage/parsers.md
      - Report: usage/reports.md
    - Writers:
      - usage/writers.md
      - Console: usage/writers/console-writer.md
      - CSV: usage/writers/csv-writer.md
      - Json: usage/writers/json-writer.md
      - BigQuery: usage/writers/bq-writer.md
      - SQL: usage/writers/sql-writer.md
      - Google Sheets: usage/writers/sheets-writer.md
      - Excel: usage/writers/excel-writer.md
      - Google PubSub: usage/writers/pubsub-writer.md
      - Kafka: usage/writers/kafka-writer.md
      - ElasticSearch: usage/writers/elasticsearch-writer.md
      - OpenSearch: usage/writers/opensearch-writer.md
    - Executors:
      - usage/executors.md
      - API: usage/executors/api-executor.md
      - BigQuery: usage/executors/bq-executor.md
      - SQL: usage/executors/sql-executor.md
      - DuckDB: usage/executors/duckdb-executor.md
      - OpenSearch: usage/executors/opensearch-executor.md
    - Exporters: usage/exporters.md
    - Workflows: usage/workflows.md
  - Development:
    - Overview: development/overview.md
    - Create API client: development/create-api-client.md
    - Create API response parser: development/create-api-response-parser.md
    - Create a library: development/create-garf-library.md
  - Deployment:
    - Google Cloud: deployment/google-cloud.md
  - Fetchers:
    - fetchers/overview.md
    - REST: fetchers/rest.md
    - YouTube: fetchers/youtube.md
    - Merchant Center: fetchers/merchant-center-api.md
    - Google Analytics: fetchers/google-analytics-api.md
    - Bid Manager: fetchers/bid-manager.md
    - Google Ads: fetchers/google-ads.md
