html {
  height: 100vh;
}

body {
  display: grid;
  grid:
    "header" 5em
    "main" 20em / 1fr
    "footer" 5em

}

header {
  grid-area: header;
  background-color: #303030;
  text-align: center;
  color: white;
  padding: 5px;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #303030;
  text-align: right;
  color: white;
  padding: 5px;
}
