name: Publish to PyPI - garf-community

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Build the package
        run: uv build libs/community

      - name: Publish to PyPI
        run: uv publish libs/community/dist/*
